table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

.calendar-control .right {
    float: right;
}

.calendar-control span {
    line-height: 30px;
}

.calendar-control .left {
    float: left;
}

.calendar-control {
    text-align: center;
}

.calendar {
    width: 240px;
}

.add-cal {
    vertical-align: bottom;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.date, .days, .result, .format {
    width: 100%;
}

.days li {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    margin: 0;
    display: inline-block;
    border: 1px black solid;
    width: 30px;
    text-align: center;
}

.date li {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    margin-top: 5px;
    display: inline-block;
    border: 1px black solid;
    width: 30px;
    text-align: center;
}