
.timer-form {
    width: 50%;
    margin: 0px auto;
    padding: 25px 0;
    text-align: center;
}

.timers-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.timer-block {
    display: flex;
    justify-content: space-between;
}

.timer {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color:#FFFFFF;
    cursor: pointer;
}

.timers-values-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.timer-value {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color: #FFFFFF;
    width: 20%;
}

.timer-btn {
    width: 35px;
    border-radius: 0;
    font-weight: bold;
}
